/***GENERAL***/

body {
  background: #F1F3FA;
  z-index: -1002;
}

/***FLOATING BUTTONS***/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/***SEARCH RESULTS***/
.fix {
  display: flex;
  flex-wrap: wrap;
}

.Public{
    background-color:#16A085;
}

.Completed{
    background-color:#16A085;
}

.Accepted{
    background-color:#16A085;
}

.Private{
    background-color:#d50f25;
}

.Rejected{
    background-color:#d50f25;
}

.wrimagecard{ 
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
    position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
    padding: 20px;
}
.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage > a {
    
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
    width: 100%;
}

.wrimagecard-topimage .tool{
	position: absolute;
	text-align: right;
	display: inline;
	padding-top:5px;
}