@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** GENERAL ******/
body {
	padding-right: 0px !important; 
}


/****** FORMS ******/
select{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#fname, #lname{
	display: inline;
}

/****** SWITCH BUTTONS ******/
.btn-default-justified.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default-justified.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default-justified.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default-justified.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default-justified.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default-justified.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default-justified.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default-justified.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default-justified.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}

.onoffswitch {
	position: relative; width: 107px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #FFFFFF; border-radius: 0px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 33px; padding: 0; line-height: 33px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "Public";
	padding-left: 10px;
	background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "Private";
	padding-right: 10px;
	background-color: #F21616; color: #FFFFFF;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 13px; margin: 10px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 70px;
	border: 2px solid #FFFFFF; border-radius: 0px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}


/****** MODALS ******/
.loginmodal-container {
	padding: 30px;
	max-width: 500px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type="submit"] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type="text"], input[type="password"], input[type="date"], input[type="url"]{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container textarea {
	height: 88px;
	font-size: 16px;
	resize: vertical;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
/* -webkit-user-select: none;
user-select: none; */
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
} 

.login-help{
	font-size: 12px;
}